/* styles.css */
body {
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #14142c;
    
    flex-direction: column;
    display: flex;
}

header {
    background-color: #2521476b;
    color: #b0a8ffff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
    font-size: 1rem;
    font-family: Roboto;
}

  
main {
    flex-direction: column;
    display: flex;
    flex: 1;
    max-width: 100%;
    margin: 0 auto;
    padding: 2rem;
}

.tutorial {
    margin-bottom: 2rem;
    padding: 1rem;
    border: 1px solid #b0a8ffff;
    border-radius: 5px;
    color: #b0a8ffff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    max-width: 600px;
    background-color: #1f1c3a6b;
}

.footer-text {
    text-align: center;
    padding: 1rem 0;
    background-color: #201d3d6b;
    color: #b0a8ffff;
}


.modal {
    display: none;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: opacity 0.9s ease, transform 0.9s ease;
}

.modal.active {
    display: block;
}

.modal-content {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.9s ease, opacity 0.9s ease;
}

.modal.active .modal-content {
    max-height: 100%;
    opacity: 1;
}

.open-modal,
.close-modal {
    margin:  0 auto;
    display: block;
    background-color: #2521476b;
    color: #b0a8ffff;
    border: none;
    padding: 0.5rem 4rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.open-modal:hover,
.close-modal:hover {
    background-color: #b0a8ffff;
    color: #2521476b;
}

.modal-link {
    display: inline-block;
    margin:  0 auto;
    padding: 0.7rem 1rem;
    background-color: #2521476b;
    color: #b0a8ffff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin-right: 5%
}

hr {
    border: none;
    border-top: 2px solid #b0a8ffff;
    margin: 20px 0;
}

.iframe-container {
    text-align: center;
}

.iframe {
    width: 80%;
    height: 100%;
    height: 450px;
    border: 2px solid #b0a8ffff;
    border-radius: 10px;
    padding-right: 2px;
    
}

.img-hotspot {
    max-width: 100%;
    height: auto;
    width: 90%;
    border: 2px solid #b0a8ffff;
    border-radius: 10px;
}

.gif-hotspot {
    width: 80%;
    height: 90%;
    border: 2px solid #b0a8ffff;
    border-radius: 10px;
    padding-right: 2px;
    
}

